//  NB: Due to Wagtail's browser support the following @font-face formats are required:
//  - WOFF for modern browsers
//  - WOFF2 For super-modern browsers
//  - TTF for older Android & iOS
//
//  This example is all we need now:
//
//  @font-face {
//    font-family: 'MyWebFont';
//    src: url('myfont.woff2') format('woff2'),
//         url('myfont.woff') format('woff'),
//         url('myfont.ttf') format('truetype');
//  }
//
//  See https://css-tricks.com/snippets/css/using-font-face/ for more information.


// @include webfont(Open Sans, opensans-light, 300, normal);
// @include webfont(Open Sans, opensans-regular, 400, normal);
// @include webfont(Open Sans, opensans-semibold, 600, normal);
// @include webfont(Open Sans, opensans-bold, 700, normal);

@font-face {
    font-family: 'Humanist';
    src: url('/static/fonts/HMN55.eot');
    src: url('/static/fonts/HMN55.eot#iefix') format('embedded-opentype'), url('/static/fonts/HMN55.woff2') format('woff2'), url('/static/fonts/HMN55.woff') format('woff'), url('/static/fonts/HMN55.ttf') format('truetype'), url('/static/fonts/HMN55.svg#HMN55') format('svg')
}

@font-face {
    font-family: 'Humanist Bold';
    src: url('/static/fonts/HMN75.eot');
    src: url('/static/fonts/HMN75.eot#iefix') format('embedded-opentype'), url('/static/fonts/HMN75.woff2') format('woff2'), url('/static/fonts/HMN75.woff') format('woff'), url('/static/fonts/HMN75.ttf') format('truetype'), url('/static/fonts/HMN75.svg#HMN75') format('svg');
}


@include webfont(Roboto Slab, robotoslab-regular, 400, normal);
@include webfont(Roboto Slab, robotoslab-bold, 700, normal);

@import 'wagtailadmin/scss/font-icons';
